@import 'variables.scss';
@import url('https://fonts.googleapis.com/css?family=Public+Sans&display=swap');

body {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

html {
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  color: hsl(233, 8%, 62%);
}

h1 {
  font-weight: 300;
  color: hsl(233, 26%, 24%);
  margin: 15px auto;
}

h3 {
  font-weight: 300;
  color: hsl(233, 26%, 24%);
  margin-top: 25px;
}

p {
  font-size: 16px;
  line-height: 24px;
  padding: 0 25px;
  margin: 25px 0;
}

.button {
  cursor: pointer;
  border-radius: 30px;
  padding: 15px 40px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  color: white;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  margin-bottom: 80px;

  &:hover {
    background: linear-gradient(
      to right,
      hsl(136, 65%, 67%),
      hsl(192, 70%, 67%)
    );
  }
}

.mobile-hide {
  @media only screen and (max-width: $desktop) {
    display: none !important;
  }
}

.desktop-hide {
  @media only screen and (min-width: $desktop) {
    display: none !important;
  }
}

.header {
  padding: 15px 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  width: 100%;

  @media only screen and (max-width: $desktop) {
    position: fixed;
  }

  svg {
    margin: 14px 0 0 40px;
  }

  #menuToggle {
    display: block;
    position: relative;
    margin: 14px 40px 0 0;
    z-index: 1;

    a {
      text-decoration: none;
      color: hsl(233, 26%, 24%);
    }

    input {
      display: block;
      position: absolute;
      width: 40px;
      height: 32px;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
    }

    span {
      display: block;
      position: relative;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      background: #cdcdcd;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

      &:first-child {
        transform-origin: 0% 0%;
      }

      &:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
    }

    input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);

      &:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale (0.2, 0.2);
      }

      &:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
      }
    }

    input:checked ~ ul {
      transform: none;
    }
  }

  #menu {
    position: absolute;
    margin: -100px 0 0 -48px;
    padding: 35px 30px 10px 30px;
    padding-top: 105px;
    background: #ffffff;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

    li {
      padding: 10px 0;
    }
  }

  .shortcuts {
    display: flex;
    flex-direction: row;
    margin-top: 11px;

    p {
      cursor: pointer;
      margin: 0;
      padding: 0 20px;
      position: relative;
      text-decoration: none;

      &:before {
        content: '';
        position: absolute;
        width: 67%;
        height: 4px;
        bottom: -15px;
        left: 14px;
        background: linear-gradient(
          to right,
          hsl(136, 65%, 51%),
          hsl(192, 70%, 51%)
        );
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
      }

      &:hover:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }

  @media only screen and (min-width: $desktop) {
    justify-content: space-around;
    padding: 15px 70px;

    .button {
      margin-bottom: 0;
    }
  }
}

@media only screen and (min-width: $desktop) {
  .intro,
  .why-choose-container {
    padding-left: 10.5%;
  }
}

.intro {
  background-color: hsl(0, 0%, 98%);

  .image-container {
    height: 335px;

    @media only screen and (min-width: $desktop) {
      height: 280px;
    }

    .bg-mobile {
      position: absolute;
      z-index: 0;
      width: 100%;
      top: 37px;
      display: flex;
      overflow: hidden;
      flex-flow: row-reverse;
    }

    .image-phones {
      max-width: 385px;
      position: absolute;
      z-index: 1;
      right: 0;
      top: -68px;
      width: 100%;

      @media only screen and (min-width: $desktop) {
        bottom: 100px;
        width: 700px;
        max-width: unset;
      }
    }

    .bg-desktop {
      position: absolute;
      overflow: hidden;
      z-index: 0;
      bottom: 90px;
      width: 50%;
      right: 0;
    }
  }

  @media only screen and (min-width: $desktop) {
    .intro-container {
      width: 400px;
      text-align: left;
      position: relative;
      bottom: 160px;
      font-size: 24px;

      p {
        padding: 0;
      }
    }
  }
}

.why-choose {
  background-color: hsl(220, 16%, 96%);
  padding: 40px 0 30px 0;

  p {
    margin: 10px 0 30px 0;
  }

  .online-banking {
    @media only screen and (max-width: $desktop) {
      margin-top: 25px;
    }
  }
}

@media only screen and (min-width: $desktop) {
  .why-choose-container {
    text-align: left;
    width: 600px;

    p {
      padding: 0;
    }
  }

  .choices-container {
    width: 80%;
    margin: 60px auto;
    display: flex;
    flex-direction: row;
    text-align: left;

    div {
      margin: 0 10px;
    }

    p {
      padding: 0;
    }
  }
}

.latest-articles {
  padding: 60px 0 60px 0;
  background-color: hsl(0, 0%, 98%);

  .article-container {
    margin: 30px auto;
    width: 90%;
    height: auto;
    border-radius: 10px;
    background-color: white;
    padding-bottom: 30px;

    img {
      width: 100%;
      border-radius: 10px;

      @media only screen and (min-width: $desktop) {
        height: 160px;
      }
    }

    h6,
    h4,
    p {
      text-align: left;
      padding: 0 25px;
      margin-bottom: 10px;
    }

    h4,
    p {
      margin-top: 10px;
    }

    h4 {
      color: hsl(233, 26%, 24%);
      font-weight: 300;

      &:hover {
        cursor: pointer;
        color: hsl(136, 64%, 75%);
      }
    }

    @media only screen and (min-width: $desktop) {
      margin: 0 10px;
    }
  }

  @media only screen and (min-width: $desktop) {
    h1 {
      padding-left: 22px;
      text-align: left;
      width: 80%;
    }

    .articles-container {
      width: 80%;
      margin: 30px auto;
      display: flex;
      flex-direction: row;
      text-align: left;
    }
  }
}

.footer {
  background-color: hsl(233, 26%, 24%);
  padding: 40px 0;
  color: white;

  .social-icon-container {
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    width: 200px;

    @media only screen and (min-width: $desktop) {
      width: inherit;
    }

    svg {
      &:hover path {
        cursor: pointer;
        fill: hsl(136, 64%, 75%);
      }
    }
  }

  p {
    margin: 10px;

    &:last-of-type {
      margin-bottom: 30px;
    }

    &:hover {
      cursor: pointer;
      color: hsl(136, 64%, 75%);
    }
  }

  button {
    margin-bottom: 0;
  }

  h5 {
    color: hsl(233, 8%, 62%);
    font-weight: 300;
    margin-bottom: 0;
  }

  .second-footer-container {
    margin-bottom: -18px;
  }

  @media only screen and (min-width: $desktop) {
    .footer-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      width: 78%;

      .first-footer-container {
        margin-top: 18px;
      }

      .first-footer-container,
      .second-footer-container,
      .third-footer-container {
        text-align: left;
      }

      .fourth-footer-container {
        margin: 12px 0 0 170px;
        text-align: right;
      }
    }
  }
}
